In [1]:
import sqlite3
import time
import pandas as pd
import numpy as np
import query
import preprocesser
import datetime


def non_decreasing(L):
    data = [x<=y for x, y in zip(L, L[1:])]
    return data

In [2]:
#1.종목명
shcode_list = query.query_shcode_list_today()

#2.target from csv
df = pd.read_csv("high_ratio_0.15_volume_money_30000000000_v2.csv", dtype ={'shcode':str})

#3. target index 추출
fin_result = pd.DataFrame([],columns = ['target_day','shcode'])

for i,v in df['index'].items():
    shcode = df['shcode'].iloc[i].zfill(6)
    target_date = v.split(" ")
    target_day_list = pd.to_datetime(target_date, format = "%Y-%m-%d")
    interval_end_timestamp = target_day_list + datetime.timedelta(weeks=6)
    result = pd.DataFrame(dict(target_day = target_day_list.strftime("%Y%m%d"),
                              interval_end = interval_end_timestamp.strftime("%Y%m%d"))).reset_index()
    del result['index']
    result['shcode'] = shcode
    fin_result = fin_result.append(result)
#4. make target month
fin_result['target_m'] = fin_result['target_day'].str.slice(stop = 6)
fin_result = pd.merge(fin_result, shcode_list, how = 'inner', on = 'shcode')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [12]:
'''
#8월대상한정
#fin_result.groupby(['target_m']).count()
target_month = '201907'
fin_result = fin_result[fin_result['target_m'] == target_month]
fin_result = fin_result.reset_index()
#target_fin_result[['target_m','shcode','shname','target_day']].to_csv("201907.csv",encoding = "ms949")
'''

In [3]:
target_day_list = pd.to_datetime(fin_result['target_day'], format = "%Y-%m-%d")
#interval calculate before 6 month , after 2 month
init_timestamp = target_day_list - datetime.timedelta(weeks=5*30)
end_timestamp = target_day_list + datetime.timedelta(weeks=5*2)
fin_result['init_month'] = init_timestamp.apply(lambda x: x.strftime("%Y%m%d"))
fin_result['end_month'] = end_timestamp.apply(lambda x: x.strftime("%Y%m%d"))

In [4]:
fin_result.head()

  interval_end  shcode target_day target_m    shname init_month end_month
0     20190909  000140   20190729   201907  하이트진로홀딩스   20160912  20191007
1     20190626  000890   20190515   201905      보해양조   20160629  20190724
2     20190424  001140   20190313   201903     카리스국보   20160427  20190522
3     20191029  001340   20190917   201909      백광산업   20161101  20191126
4     20190619  001550   20190508   201905        조비   20160622  20190717

In [6]:
exx = pd.DataFrame([],columns = ['date', 'open', 'high', 'low', 'close', 'volume', 'deal_f',
                                 'burn_ratio', 'rotate_ratio', 'for_net_buy', 'com_net_buy',
                                 'per_net_buy','index','shcode', 'shname', 'target_day', 'ma5_score','ma20_score','ma5_20_score'])

for i,v in fin_result['shcode'].items():
    df_monthly = query.query_t1305_month(shcode = fin_result['shcode'].iloc[i],
                                         fr = fin_result['init_month'].iloc[i],
                                         to = fin_result['end_month'].iloc[i])
    
    #except1: data없는경우
    if df_monthly.shape[0] ==0:
        continue
    # ma preprocesser
    df_monthly = preprocesser.sma_mothly(df_monthly)
    amount = [0.15, 0.15, 0.2, 0.2, 0.3]
    
    # 대세 판단1 : 월봉 5이평이 감소하지않음
    ma5 = non_decreasing(df_monthly['close_ma5'])[-5:]
    ma5_score = sum(x * y for x, y in zip(ma5, amount)) / sum(amount)
    
    # 대세 판단2 : 월봉 20이평이 감소하지않음
    ma20 = non_decreasing(df_monthly['close_ma20'])[-5:]
    ma20_score = sum(x * y for x, y in zip(ma20, amount)) / sum(amount)
    
    # 대세 판단3 : 월봉 ma5 - ma20  크눈중
    ma5_20 = non_decreasing(df_monthly['close_ma5']-df_monthly['close_ma20'])[-5:]
    ma5_20_score = sum(x * y for x, y in zip(ma5_20, amount)) / sum(amount)    
    
    df_monthly = df_monthly.tail(20)
    df_monthly['index'] = i
    df_monthly['shcode'] = fin_result['shcode'].iloc[i]
    df_monthly['shname'] = fin_result['shname'].iloc[i]
    df_monthly['target_day'] = fin_result['target_day'].iloc[i]
    
    df_monthly['ma5_score'] = ma5_score 
    df_monthly['ma20_score'] = ma20_score
    df_monthly['ma5_20_score'] = ma5_20_score
    
    exx = exx.append(df_monthly)
    print(i, v, '완료')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

0 000140 완료
1 000890 완료
2 001140 완료
3 001340 완료
4 001550 완료
5 001550 완료
6 001745 완료
7 001820 완료
8 002070 완료
9 002070 완료
10 002140 완료
11 002140 완료
12 002140 완료
13 002150 완료
14 002210 완료
15 002210 완료
16 002320 완료
17 002360 완료
18 002450 완료
19 002700 완료
20 002720 완료
21 002780 완료
22 002780 완료
23 002995 완료
24 003010 완료
25 003495 완료
26 003560 완료
27 003850 완료
28 004060 완료
29 004270 완료
30 004720 완료
31 004770 완료
32 004830 완료
33 004870 완료
34 004980 완료
35 005110 완료
36 005110 완료
37 005320 완료
38 005360 완료
39 005390 완료
40 005420 완료
41 005690 완료
42 005740 완료
43 006090 완료
44 006890 완료
45 006980 완료
46 006980 완료
47 006980 완료
48 007110 완료
49 007110 완료
50 007210 완료
51 007460 완료
52 007540 완료
53 007540 완료
54 008040 완료
55 008350 완료
56 008420 완료
57 008700 완료
58 008730 완료
59 008775 완료
60 009290 완료
61 009320 완료
62 009320 완료
63 009410 완료
64 009410 완료
65 009680 완료
66 009680 완료
67 010100 완료
68 010100 완료
69 010420 완료
70 010660 완료
71 011150 완료
72 011150 완료
73 011150 완료
74 011280 완료
75 011280 완료
76 011390 완료
77 012160 완료
78 012450 완료
79 012610 완료
80 012690 완료
81 012800 완료
82 012800 완료
83 013700 완료
84 014130 완료
85 014580 완료
86 014580 완료
87 014580 완료
88 014580 완료
89 014580 완료
90 014580 완료
91 014820 완료
92 014910 완료
93 014990 완료
94 016740 완료
95 017550 완료
96 017900 완료
97 017940 완료
98 020120 완료
99 020560 완료
100 020560 완료
101 021050 완료
102 021050 완료
103 023350 완료
104 023800 완료
105 025560 완료
106 025560 완료
107 026890 완료
108 027740 완료
109 027740 완료
110 030720 완료
111 030790 완료
112 031820 완료
113 032560 완료
114 033250 완료
115 033250 완료
116 036580 완료
117 037560 완료
118 068290 완료
119 070960 완료
120 070960 완료
121 074610 완료
122 078520 완료
123 081000 완료
124 084680 완료
125 084680 완료
126 084870 완료
127 090370 완료
128 092780 완료
129 093370 완료
130 096760 완료
131 097230 완료
132 100220 완료
133 102280 완료
134 105840 완료
135 105840 완료
136 119650 완료
137 133820 완료
138 133820 완료
139 138490 완료
140 144620 완료
141 155660 완료
142 180640 완료
143 192650 완료
144 234080 완료
145 267850 완료
146 267850 완료
147 271980 완료
148 298690 완료
149 298690 완료
150 298690 완료
151 000440 완료
152 005290 완료
153 005860 완료
154 005860 완료
155 005860 완료
156 007720 완료
157 009520 완료
158 010170 완료
159 010240 완료
160 011320 완료
161 012700 완료
162 013310 완료
163 014100 완료
164 014190 완료
165 014470 완료
166 014470 완료
167 014470 완료
168 014970 완료
169 016790 완료
170 016790 완료
171 018620 완료
172 018620 완료
173 018620 완료
174 018700 완료
175 019540 완료
176 019550 완료
177 023770 완료
178 023900 완료
179 024060 완료
180 024060 완료
181 024060 완료
182 024740 완료
183 024840 완료
184 024950 완료
185 025320 완료
186 025880 완료
187 026150 완료
188 027050 완료
189 027710 완료
190 027710 완료
191 030960 완료
192 031330 완료
193 032280 완료
194 033130 완료
195 033320 완료
196 033320 완료
197 033340 완료
198 033430 완료
199 035620 완료
200 035810 완료
201 036120 완료
202 036120 완료
203 036200 완료
204 036540 완료
205 037030 완료
206 037070 완료
207 037070 완료
208 037230 완료
209 037370 완료
210 037460 완료
211 038160 완료
212 038530 완료
213 038620 완료
214 038680 완료
215 038680 완료
216 038880 완료
217 039610 완료
218 039670 완료
219 039830 완료
220 040610 완료
221 040910 완료
222 041140 완료
223 041910 완료
224 041920 완료
225 041930 완료
226 041930 완료
227 041960 완료
228 042110 완료
229 042510 완료
230 043100 완료
231 044780 완료
232 044960 완료
233 044960 완료
234 044960 완료
235 044960 완료
236 045390 완료
237 045390 완료
238 045520 완료
239 045660 완료
240 046390 완료
241 047560 완료
242 047770 완료
243 047820 완료
244 047920 완료
245 048410 완료
246 048410 완료
247 048410 완료
248 048770 완료
249 048830 완료
250 049080 완료
251 049180 완료
252 049180 완료
253 049480 완료
254 049480 완료
255 049480 완료
256 050090 완료
257 050120 완료
258 050120 완료
259 051370 완료
260 052420 완료
261 052420 완료
262 052600 완료
263 052670 완료
264 052670 완료
265 052900 완료
266 053270 완료
267 054300 완료
268 054670 완료
269 054780 완료
270 054930 완료
271 054940 완료
272 056700 완료
273 056700 완료
274 057030 완료
275 057500 완료
276 057500 완료
277 058400 완료
278 058400 완료
279 058530 완료
280 058630 완료
281 060240 완료
282 060310 완료
283 060590 완료
284 060720 완료
285 063440 완료
286 064260 완료
287 064820 완료
288 065170 완료
289 065170 완료
290 065450 완료
291 065450 완료
292 065500 완료
293 065500 완료
294 065510 완료
295 065530 완료
296 065530 완료
297 065950 완료
298 066130 완료
299 066130 완료
300 066360 완료
301 066430 완료
302 066700 완료
303 067170 완료
304 067630 완료
305 068330 완료
306 071460 완료
307 072020 완료
308 073110 완료
309 073540 완료
310 075130 완료
311 077360 완료
312 078130 완료
313 078140 완료
314 078590 완료
315 081150 완료
316 083640 완료
317 083640 완료
318 086060 완료
319 086060 완료
320 086250 완료
321 087260 완료
322 087260 완료
323 089970 완료
324 090410 완료
325 091340 완료
326 092870 완료
327 093380 완료
328 093380 완료
329 093380 완료
330 093380 완료
331 094360 완료
332 094940 완료
333 095610 완료
334 096350 완료
335 099440 완료
336 100590 완료
337 100660 완료
338 102120 완료
339 104040 완료
340 104480 완료
341 105740 완료
342 108230 완료
343 108230 완료
344 108490 완료
345 111870 완료
346 114120 완료
347 115440 완료
348 115440 완료
349 117730 완료
350 121800 완료
351 121800 완료
352 121800 완료
353 122350 완료
354 123410 완료
355 123840 완료
356 130500 완료
357 131090 완료
358 131180 완료
359 136480 완료
360 136480 완료
361 136510 완료
362 137950 완료
363 140520 완료
364 140670 완료
365 147760 완료
366 150840 완료
367 153710 완료
368 154040 완료
369 159580 완료
370 168330 완료
371 170030 완료
372 171010 완료
373 171090 완료
374 178320 완료
375 179290 완료
376 179290 완료
377 179900 완료
378 179900 완료
379 189860 완료
380 192250 완료
381 192250 완료
382 192440 완료
383 195990 완료
384 198440 완료
385 198440 완료

In [7]:
exx[['index','shcode', 'shname', 'target_day', 'date', 'open', 'high', 'low', 'close', 'volume', 'deal_f',
     'burn_ratio', 'rotate_ratio', 'for_net_buy', 'com_net_buy',
     'per_net_buy', 'ma5_score','ma20_score','ma5_20_score']].to_csv("3_trend.csv",encoding = 'ms949')