In [1]:
import sqlite3
import time
import pandas as pd
import numpy as np
import query
import preprocesser
import datetime
import pandas.tseries.offsets as of  # for timeoffset

In [2]:
#1.종목명
shcode_list = query.query_shcode_list_today()

#2.target from csvs
df_bf = pd.read_csv("bf_target_day_using_weekly_v3.csv",encoding='CP949')
df_af = pd.read_csv("af_target_day_using_weekly_v3.csv",encoding='CP949')
del df_bf['Unnamed: 0']
del df_af['Unnamed: 0']

In [3]:
df2_br = df_bf[['index', 'shcode','month_ma5_score', 'high_month', 
               'for_net_buy_sum', 'com_net_buy_sum','per_net_buy_sum', 
               'week_ma5_score', 'week_ma20_score',
               'week_golden_cross', 'week_dead_cross', 'week_up', 'week_down']].drop_duplicates()

In [4]:
result = pd.merge(df_af, df2_br, how = 'left', on = ['index', 'shcode'])

In [5]:
uplist = query.query_up_distinct()
tmlist = query.query_tm_distinct()

In [6]:
result = pd.merge(result, uplist[['shcode','upcode', 'upname', 'per']], how = 'left', on = ['shcode'])
result = pd.merge(result, tmlist[['shcode','tmcode', 'tmname']], how = 'left', on = ['shcode'])

In [7]:
result.columns

Index(['index', 'shcode', 'shname', 'target_m', 'date', 'close_ratio', 'open_',
       'low', 'high', 'close', 'volume', 'volume_ratio', 'range_position',
       'spot_range', 'min_target', 'max_target', 'inrange', 'spot_range_inc',
       'squeezed', 'volume_default', 'deal_f', 'burn_ratio', 'rotate_ratio',
       'for_net_buy', 'com_net_buy', 'per_net_buy', 'close_ma5', 'close_ma10',
       'close_ma20', 'close_ma60', 'close_ma120', 'obv', 'rsi14',
       'rsi14_signal', 'slowk', 'slowd', 'ma_g_c', 'ma_d_c', 'rsi_g_c',
       'rsi_d_c', 'stoc_g_c', 'stoc_d_c', 'month_ma5_score', 'high_month',
       'for_net_buy_sum', 'com_net_buy_sum', 'per_net_buy_sum',
       'week_ma5_score', 'week_ma20_score', 'week_golden_cross',
       'week_dead_cross', 'week_up', 'week_down', 'upcode', 'upname', 'per',
       'tmcode', 'tmname'],
      dtype='object')

In [8]:
result[['index', 'shcode', 'shname', 'target_m', 'date', 'close_ratio', 'open_',
        'low', 'high', 'close', 'min_target', 'max_target', 'range_position',
        'volume', 'volume_ratio', 'spot_range', 'inrange','volume_default', 'squeezed',
        'obv', 'upcode', 'upname', 'per', 'tmcode', 'tmname',
        'month_ma5_score', 'high_month','for_net_buy_sum', 'com_net_buy_sum', 'per_net_buy_sum',
        'week_ma5_score', 'week_ma20_score', 'week_golden_cross',
        'week_dead_cross', 'week_up', 'week_down', 'for_net_buy', 'com_net_buy', 'per_net_buy',
        'close_ma5', 'close_ma10','close_ma20', 'close_ma60', 'close_ma120']].to_excel("bfaf_target_day_using_weekly_v4.xlsx",encoding = 'ms949')

In [3]:
uplist[uplist['shcode']=='000080']
#uplist[uplist['shcode']=='000080'].groupby(['shcode']).count()

,date,upcode,upname,shcode,now_p,total_value,trans_money,per
1005,20191201,1,종 합,000080,28250,19813,10642,88.56

In [5]:
tmlist[tmlist['shcode']=='000080']
#tmlist[tmlist['shcode']=='000080'].groupby(['shcode']).count()

          date  tmcode      tmname  shcode shname  now_p  total_value
1282  20191201     421  日 불매운동 관련주  000080  하이트진로  28250      1981275