In [66]:
import sqlite3
import time
import pandas as pd
import numpy as np
import query
import preprocesser
import datetime
import pandas.tseries.offsets as of  # for timeoffset

In [ ]:
'''
# 1주전 lastday
target_day_list + of.Week(n= -1, weekday = 4)
# 1달전 lastday
target_day_list + of.MonthEnd(n= -1)
# 1분기전 lastday
target_day_list + of.QuarterEnd(n= -1)
# 1년전 lastday
target_day_list + of.YearEnd(n= -1)
'''

In [67]:
def non_decreasing(L):
    data = [x<=y for x, y in zip(L, L[1:])]
    return data

In [68]:
#1.종목명
shcode_list = query.query_shcode_list_today()

#2.target from csvs
df = pd.read_csv("high_ratio_0.05_volume_money_20000000000_v3.csv", dtype ={'shcode':str})

#3. target index 추출
fin_result = pd.DataFrame([],columns = ['target_day','shcode'])

for i,v in df['index'].items():
    shcode = df['shcode'].iloc[i].zfill(6)
    target_date = v.split(" ")
    target_day_list = pd.to_datetime(target_date, format = "%Y-%m-%d")
    interval_end_timestamp = target_day_list + datetime.timedelta(weeks=6)
    result = pd.DataFrame(dict(target_day = target_day_list.strftime("%Y%m%d"),
                              interval_end = interval_end_timestamp.strftime("%Y%m%d"))).reset_index()
    del result['index']
    result['shcode'] = shcode
    fin_result = fin_result.append(result)
    
#4. make target month
fin_result['target_m'] = fin_result['target_day'].str.slice(stop = 6)
fin_result = pd.merge(fin_result, shcode_list, how = 'inner', on = 'shcode')

#5. target day 확인
target_day_list = pd.to_datetime(fin_result['target_day'], format = "%Y-%m-%d")

#(1) 월
#interval calculate before 12 month , before 1 month
init_month_timestamp = target_day_list + of.MonthEnd(n= -12)
end_month_timestamp = target_day_list + of.MonthEnd(n= -1)
fin_result['init_month'] = init_month_timestamp.apply(lambda x: x.strftime("%Y%m%d"))
fin_result['end_month'] = end_month_timestamp.apply(lambda x: x.strftime("%Y%m%d"))

#(2) 주
#interval calculate before 30 weeks , before 1 weeks
init_week_timestamp = target_day_list + of.Week(n= -30, weekday = 4)
end_week_timestamp = target_day_list + of.Week(n= -1, weekday = 4)
fin_result['init_week'] = init_week_timestamp.apply(lambda x: x.strftime("%Y%m%d"))
fin_result['end_week'] = end_week_timestamp.apply(lambda x: x.strftime("%Y%m%d"))


#(3) 일
check_init_timestamp = target_day_list - datetime.timedelta(days=60)
fin_result['check_init_day'] = check_init_timestamp.apply(lambda x: x.strftime("%Y%m%d"))

#for 크로스전 for 3번째전략
check_init_timestamp2 = target_day_list - datetime.timedelta(days=30)
fin_result['check_init_day2'] = check_init_timestamp2.apply(lambda x: x.strftime("%Y%m%d"))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [69]:
fin_result = fin_result[fin_result['target_m']>='201909'].reset_index()
del fin_result['index']
fin_result['index'] = fin_result.index

In [70]:
fin_result.columns

Index(['interval_end', 'shcode', 'target_day', 'target_m', 'shname',
       'init_month', 'end_month', 'init_week', 'end_week', 'check_init_day',
       'check_init_day2', 'index'],
      dtype='object')

In [92]:
i = 560
v = fin_result['shcode'].iloc[i]
#(1) 월봉대세판단
df_monthly = query.query_t1305_month(shcode = fin_result['shcode'].iloc[i],
                                     fr = fin_result['init_month'].iloc[i],
                                     to = fin_result['end_month'].iloc[i])
'''
#except1: data없는경우
if df_monthly.shape[0] == 0:
    ma5 = None
    month_ma5_score = None
    high_month = None
    for_net_buy_sum = None
    com_net_buy_sum = None
    per_net_buy_sum = None   
    pass
else:
    # ma preprocesser
    df_monthly = preprocesser.sma_monthly(df_monthly)
    amount = [0.15, 0.15, 0.2, 0.2, 0.3]

    # 대세 판단1 : 월봉 5이평이 감소하지않음ㄴ
    ma5 = non_decreasing(df_monthly['close_ma5'])[-5:]
    month_ma5_score = sum(x * y for x, y in zip(ma5, amount)) / sum(amount)
    high_month = df_monthly['high'].max()
    for_net_buy_sum = df_monthly['for_net_buy'].sum()
    com_net_buy_sum = df_monthly['com_net_buy'].sum()
    per_net_buy_sum = df_monthly['per_net_buy'].sum()
'''
#(2) 주봉대세판단
df_weekly = query.query_t1305_week(shcode = fin_result['shcode'].iloc[i],
                                     fr = fin_result['init_week'].iloc[i],
                                     to = fin_result['end_week'].iloc[i])
#except1: data없는경우
#if df_weekly.shape[0] ==0:
#    continue
# ma preprocesser
df_weekly = preprocesser.sma_weekly(df_weekly)
amount = [0.15, 0.15, 0.2, 0.2, 0.3]

# 대세 판단1 : 주봉 5이평이 감소하지않음
ma5 = non_decreasing(df_weekly['close_ma5'])[-5:]
week_ma5_score = sum(x * y for x, y in zip(ma5, amount)) / sum(amount)

# 대세 판단2 : 주봉 20이평이 감소하지않음
ma20 = non_decreasing(df_weekly['close_ma20'])[-5:]
week_ma20_score = sum(x * y for x, y in zip(ma20, amount)) / sum(amount)

# 대세 판단3 : 주별확인
# 1. 위에 1-1 위에stay, 1-2 데크, 2,아래  2-1 아래스테이 2-2. 골크
close_ma5 = df_weekly['close_ma5'].iloc[-5:]
close_ma20 = df_weekly['close_ma20'].iloc[-5:]

prev_close_ma5 = df_weekly['close_ma5'].shift(1).iloc[-5:]
prev_close_ma20 = df_weekly['close_ma20'].shift(1).iloc[-5:]

week_golden_cross = np.where(((close_ma5 >= close_ma20) & (prev_close_ma5 <= prev_close_ma20)),1,0).sum() # gc
week_dead_cross = np.where(((close_ma20 <= close_ma20) & (prev_close_ma5 >= prev_close_ma20)),1,0).sum() # dc
week_up = np.where((close_ma5 >= close_ma20), 1, 0).sum() # 정배열
week_down = np.where((close_ma5 < close_ma20), 1, 0).sum() # 역배열

In [93]:
df_weekly.tail()

,date,open,high,low,close,volume,deal_f,burn_ratio,rotate_ratio,for_net_buy,com_net_buy,per_net_buy,close_ma5,close_ma20
25,20190802,20250,20800,18350,19650,602,80.19,2.69,10.65,-17796,-5127,22989,20760.0,17967.5
26,20190809,19400,19600,16050,18400,599,77.49,3.28,10.60,33473,-1330,-41300,20120.0,18080.0
27,20190816,18700,19800,16550,18500,727,96.25,2.41,12.86,-47706,64771,-19564,19560.0,18285.0
28,20190823,18900,20650,18450,19850,658,101.99,1.41,11.63,-57586,52846,-4872,19340.0,18532.5
29,20190830,19050,19850,18200,19750,774,71.38,1.36,13.68,-7835,-37697,39707,19230.0,18735.0

In [94]:
np.where(((close_ma5 >= close_ma20) & (prev_close_ma5 <= prev_close_ma20)),1,0) # gc

array([0, 0, 0, 0, 0])

In [98]:
(close_ma20 <= close_ma20)

25    True
26    True
27    True
28    True
29    True
Name: close_ma20, dtype: bool

In [95]:
np.where(((close_ma20 <= close_ma20) & (prev_close_ma5 >= prev_close_ma20)),1,0) # dc

array([1, 1, 1, 1, 1])

In [96]:
np.where((close_ma5 >= close_ma20), 1, 0) # 정배열

array([1, 1, 1, 1, 1])

In [97]:
np.where((close_ma5 < close_ma20), 1, 0) # 역배열

array([0, 0, 0, 0, 0])

In [99]:
per_df = pd.DataFrame([],columns = ['date','index','shcode'])

#for i in range(len(result_for_draw)):
i = 382
df = query.query_ohlcv(shcode = result_for_draw['shcode'].iloc[i],
                     fr=result_for_draw['interval_init'].iloc[i],
                     to=result_for_draw['interval_end'].iloc[i])

#데이터전처리
df = preprocesser.sma_long(df)
df = preprocesser.obv(df)
df = preprocesser.rsi(df)
df = preprocesser.stochastic(df)
df = preprocesser.marking_cross_sma(df)
df = preprocesser.marking_cross_rsi(df)
df = preprocesser.marking_cross_stochastic(df)

#df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d")
df['index'] = result_for_draw['index'].iloc[i]
df['shcode'] = result_for_draw['shcode'].iloc[i]
df['target_day'] = result_for_draw['target_day'].iloc[i]

per_df = per_df.append(df[['date','index','shcode',
                           'close_ma5', 'close_ma10', 'close_ma20', 'close_ma60','close_ma120',
                           'obv',
                           'rsi14', 'rsi14_signal', 'slowk', 'slowd', 'ma_g_c', 'ma_d_c', 'rsi_g_c', 'rsi_d_c',
                           'stoc_g_c', 'stoc_d_c']])

per_df[['date','index','shcode',
                           'close_ma5', 'close_ma10', 'close_ma20', 'close_ma60','close_ma120',
                           'obv',]].iloc[10:]

In [71]:
rrr = pd.DataFrame([],columns = ['date',  'close_ratio','open_', 'low', 'high','close','volume' ,
                                 'range_position', 'squeezed',  'shcode','shname', 'target_m', 'index',
                                 'month_ma5_score', 'high_month', 'for_net_buy_sum','com_net_buy_sum', 'per_net_buy_sum',
                                 'week_ma5_score','week_ma20_score',
                                 'week_golden_cross', 'week_dead_cross', 'week_up', 'week_down'
                                ])

In [72]:
for i,v in fin_result['shcode'].items():
#i = 0
#v = fin_result['shcode'].iloc[i]
    #(1) 월봉대세판단
    df_monthly = query.query_t1305_month(shcode = fin_result['shcode'].iloc[i],
                                         fr = fin_result['init_month'].iloc[i],
                                         to = fin_result['end_month'].iloc[i])

    #except1: data없는경우
    if df_monthly.shape[0] == 0:
        ma5 = None
        month_ma5_score = None
        high_month = None
        for_net_buy_sum = None
        com_net_buy_sum = None
        per_net_buy_sum = None   
        pass
    else:
        # ma preprocesser
        df_monthly = preprocesser.sma_monthly(df_monthly)
        amount = [0.15, 0.15, 0.2, 0.2, 0.3]

        # 대세 판단1 : 월봉 5이평이 감소하지않음ㄴ
        ma5 = non_decreasing(df_monthly['close_ma5'])[-5:]
        month_ma5_score = sum(x * y for x, y in zip(ma5, amount)) / sum(amount)
        high_month = df_monthly['high'].max()
        for_net_buy_sum = df_monthly['for_net_buy'].sum()
        com_net_buy_sum = df_monthly['com_net_buy'].sum()
        per_net_buy_sum = df_monthly['per_net_buy'].sum()

    #(2) 주봉대세판단
    df_weekly = query.query_t1305_week(shcode = fin_result['shcode'].iloc[i],
                                         fr = fin_result['init_week'].iloc[i],
                                         to = fin_result['end_week'].iloc[i])
    #except1: data없는경우
    if df_weekly.shape[0] ==0:
        continue
    # ma preprocesser
    df_weekly = preprocesser.sma_weekly(df_weekly)
    amount = [0.15, 0.15, 0.2, 0.2, 0.3]

    # 대세 판단1 : 주봉 5이평이 감소하지않음
    ma5 = non_decreasing(df_weekly['close_ma5'])[-5:]
    week_ma5_score = sum(x * y for x, y in zip(ma5, amount)) / sum(amount)

    # 대세 판단2 : 주봉 20이평이 감소하지않음
    ma20 = non_decreasing(df_weekly['close_ma20'])[-5:]
    week_ma20_score = sum(x * y for x, y in zip(ma20, amount)) / sum(amount)

    # 대세 판단3 : 주별확인
    # 1. 위에 1-1 위에stay, 1-2 데크, 2,아래  2-1 아래스테이 2-2. 골크
    close_ma5 = df_weekly['close_ma5'].iloc[-5:]
    close_ma20 = df_weekly['close_ma20'].iloc[-5:]

    prev_close_ma5 = df_weekly['close_ma5'].shift(1).iloc[-5:]
    prev_close_ma20 = df_weekly['close_ma20'].shift(1).iloc[-5:]

    week_golden_cross = np.where(((close_ma5 >= close_ma20) & (prev_close_ma5 <= prev_close_ma20)),1,0).sum() # gc
    week_dead_cross = np.where(((close_ma5 <= close_ma20) & (prev_close_ma5 >= prev_close_ma20)),1,0).sum() # dc
    week_up = np.where((close_ma5 >= close_ma20), 1, 0).sum() # 정배열
    week_down = np.where((close_ma5 < close_ma20), 1, 0).sum() # 역배열

    #(3) 일별확인
    df = query.query_t1305(shcode = fin_result['shcode'].iloc[i], 
                            fr = fin_result['check_init_day2'].iloc[i], 
                            to = fin_result['target_day'].iloc[i])

    #종가상승률
    close_ratio_list = [y/x-1 for x, y in zip(np.array(df)[:,4][:-1], np.array(df)[:,4][1:])]
    close_ratio_list.insert(0,0)
    test_list = pd.DataFrame(dict(date = np.array(df)[:,0],
                                  close_ratio = close_ratio_list,
                                  open_ = df['open'],
                                  low = df['low'],
                                  high = df['high'],
                                  close = df['close'],
                                  volume = df['volume'],
                                  range_position = (df['close']-df['low'])/(df['high']-df['low']),
                                  squeezed = abs(df['close'] /df['open'] - 1) <= 0.05
                                 ))

    test_list['shcode'] = fin_result['shcode'].iloc[i]
    test_list['shname'] = fin_result['shname'].iloc[i]
    test_list['target_m'] = fin_result['target_m'].iloc[i]
    test_list['index'] = i

    test_list['month_ma5_score'] = month_ma5_score

    test_list['high_month'] = high_month
    test_list['for_net_buy_sum'] = for_net_buy_sum
    test_list['com_net_buy_sum'] = com_net_buy_sum
    test_list['per_net_buy_sum'] = per_net_buy_sum

    test_list['week_ma5_score'] = week_ma5_score
    test_list['week_ma20_score'] = week_ma20_score
    
    test_list['week_golden_cross'] = week_golden_cross
    test_list['week_dead_cross'] =  week_dead_cross
    test_list['week_up'] = week_up
    test_list['week_down'] = week_down

    #if any(test_list['check']) == 1:
    rrr = rrr.append(test_list)
    print(i, v, '완료')

0 000230 완료
1 000400 완료
2 000885 완료
3 000890 완료
4 001140 완료
5 001210 완료
6 001210 완료
7 001340 완료
8 001360 완료
9 001360 완료
10 001360 완료
11 001440 완료
12 001790 완료
13 001790 완료
14 001820 완료
15 002020 완료
16 002070 완료
17 002070 완료
18 002070 완료
19 002100 완료
20 002140 완료
21 002140 완료
22 002210 완료
23 002360 완료
24 002720 완료
25 002720 완료
26 002760 완료
27 002760 완료
28 002995 완료
29 003060 완료
30 003060 완료
31 003060 완료
32 003280 완료
33 003280 완료
34 003350 완료
35 003560 완료
36 003580 완료
37 003580 완료
38 003580 완료
39 004100 완료
40 004770 완료
41 004870 완료
42 005070 완료
43 005070 완료
44 005110 완료
45 005110 완료
46 005360 완료
47 005390 완료
48 005390 완료
49 005690 완료
50 006090 완료
51 006280 완료
52 006490 완료
53 006490 완료
54 006840 완료
55 006980 완료
56 006980 완료
57 006980 완료
58 007110 완료
59 007210 완료
60 007460 완료
61 007460 완료
62 007460 완료
63 007660 완료
64 007810 완료
65 008350 완료
66 008350 완료
67 008350 완료
68 008350 완료
69 008355 완료
70 008600 완료
71 008600 완료
72 008730 완료
73 009310 완료
74 009320 완료
75 009420 완료
76 009460 완료
77 009830 완료
78 010040 완료
79 010100 완료
80 010100 완료
81 010100 완료
82 010660 완료
83 010820 완료
84 011090 완료
85 011090 완료
86 011390 완료
87 011390 완료
88 012510 완료
89 012630 완료
90 013000 완료
91 013000 완료
92 013000 완료
93 014530 완료
94 014580 완료
95 014580 완료
96 014790 완료
97 015590 완료
98 015760 완료
99 017040 완료
100 017180 완료
101 017180 완료
102 017550 완료
103 017550 완료
104 019170 완료
105 019170 완료
106 019170 완료
107 020560 완료
108 020560 완료
109 020560 완료
110 021050 완료
111 021050 완료
112 025560 완료
113 025620 완료
114 025620 완료
115 026890 완료
116 026940 완료
117 026940 완료
118 027740 완료
119 027740 완료
120 027740 완료
121 028050 완료
122 031820 완료
123 031820 완료
124 032350 완료
125 033180 완료
126 033180 완료
127 033180 완료
128 033180 완료
129 033180 완료
130 033240 완료
131 033250 완료
132 033250 완료
133 033250 완료
134 035420 완료
135 036580 완료
136 036580 완료
137 039570 완료
138 047040 완료
139 068290 완료
140 068290 완료
141 068290 완료
142 071970 완료
143 071970 완료
144 072130 완료
145 072130 완료
146 074610 완료
147 074610 완료
148 074610 완료
149 077500 완료
150 084680 완료
151 089470 완료
152 090080 완료
153 090430 완료
154 091810 완료
155 095720 완료
156 101140 완료
157 101140 완료
158 102460 완료
159 115390 완료
160 161390 완료
161 192820 완료
162 207940 완료
163 214330 완료
164 227840 완료
165 241590 완료
166 249420 완료
167 267850 완료
168 267850 완료
169 28513K 완료
170 298690 완료
171 298690 완료
172 336260 완료
173 500019 완료
174 000440 완료
175 001000 완료
176 001540 완료
177 002290 완료
178 002800 완료
179 003310 완료
180 005290 완료
181 005860 완료
182 005860 완료
183 006050 완료
184 006910 완료
185 007370 완료
186 007390 완료
187 007390 완료
188 007390 완료
189 008290 완료
190 008290 완료
191 009620 완료
192 009620 완료
193 010240 완료
194 010280 완료
195 010470 완료
196 012700 완료
197 012860 완료
198 013990 완료
199 014190 완료
200 014190 완료
201 014570 완료
202 014970 완료
203 016100 완료
204 016600 완료
205 016790 완료
206 018000 완료
207 018620 완료
208 018620 완료
209 018620 완료
210 018620 완료
211 018680 완료
212 023410 완료
213 024060 완료
214 024740 완료
215 025320 완료
216 025440 완료
217 025870 완료
218 025870 완료
219 025870 완료
220 025880 완료
221 026150 완료
222 027360 완료
223 027580 완료
224 027710 완료
225 027710 완료
226 027830 완료
227 027830 완료
228 028300 완료
229 029480 완료
230 032580 완료
231 032750 완료
232 032850 완료
233 033130 완료
234 033320 완료
235 033340 완료
236 035620 완료
237 035810 완료
238 036120 완료
239 036120 완료
240 036170 완료
241 036170 완료
242 036170 완료
243 036480 완료
244 036630 완료
245 036640 완료
246 036830 완료
247 037070 완료
248 037230 완료
249 038680 완료
250 039560 완료
251 039610 완료
252 039830 완료
253 039830 완료
254 039860 완료
255 040350 완료
256 040910 완료
257 040910 완료
258 041140 완료
259 041190 완료
260 041190 완료
261 041460 완료
262 041510 완료
263 041590 완료
264 041590 완료
265 041910 완료
266 041910 완료
267 041910 완료
268 042040 완료
269 042040 완료
270 042110 완료
271 043090 완료
272 043220 완료
273 043220 완료
274 043220 완료
275 043220 완료
276 044060 완료
277 044060 완료
278 044480 완료
279 044480 완료
280 044960 완료
281 044960 완료
282 044960 완료
283 044960 완료
284 045390 완료
285 045890 완료
286 046940 완료
287 046940 완료
288 046970 완료
289 047820 완료
290 048410 완료
291 048430 완료
292 049080 완료
293 049180 완료
294 049480 완료
295 050110 완료
296 050120 완료
297 050890 완료
298 051370 완료
299 052190 완료
300 052190 완료
301 052260 완료
302 052260 완료
303 052300 완료
304 052300 완료
305 052420 완료
306 052420 완료
307 052670 완료
308 052670 완료
309 052670 완료
310 052670 완료
311 052790 완료
312 053030 완료
313 053700 완료
314 053800 완료
315 054300 완료
316 054300 완료
317 054670 완료
318 054780 완료
319 054780 완료
320 054940 완료
321 056000 완료
322 056360 완료
323 057030 완료
324 057030 완료
325 058400 완료
326 058400 완료
327 058630 완료
328 058820 완료
329 058820 완료
330 059090 완료
331 059210 완료
332 060370 완료
333 060370 완료
334 060370 완료
335 060590 완료
336 060720 완료
337 060720 완료
338 061250 완료
339 063440 완료
340 064260 완료
341 064510 완료
342 065060 완료
343 065450 완료
344 065530 완료
345 065650 완료
346 065660 완료
347 065660 완료
348 066130 완료
349 066130 완료
350 066360 완료
351 066410 완료
352 067390 완료
353 067630 완료
354 067630 완료
355 068330 완료
356 068760 완료
357 072020 완료
358 072870 완료
359 072870 완료
360 072870 완료
361 072870 완료
362 073070 완료
363 073070 완료
364 073540 완료
365 073540 완료
366 073540 완료
367 073560 완료
368 073560 완료
369 073560 완료
370 078130 완료
371 078130 완료
372 078150 완료
373 078340 완료
374 078590 완료
375 078590 완료
376 078590 완료
377 078860 완료
378 079950 완료
379 079960 완료
380 080470 완료
381 082210 완료
382 082270 완료
383 082270 완료
384 082270 완료
385 082800 완료
386 083640 완료
387 084650 완료
388 084650 완료
389 084650 완료
390 085660 완료
391 085670 완료
392 085810 완료
393 086040 완료
394 086060 완료
395 086060 완료
396 086060 완료
397 086060 완료
398 086820 완료
399 086900 완료
400 087260 완료
401 088910 완료
402 088910 완료
403 089010 완료
404 090710 완료
405 090710 완료
406 091340 완료
407 091340 완료
408 091590 완료
409 091590 완료
410 091970 완료
411 092870 완료
412 093380 완료
413 094940 완료
414 094940 완료
415 096530 완료
416 096630 완료
417 096630 완료
418 099220 완료
419 099220 완료
420 099220 완료
421 099220 완료
422 100590 완료
423 100660 완료
424 100660 완료
425 101000 완료
426 102940 완료
427 104480 완료
428 106240 완료
429 106520 완료
430 108230 완료
431 109080 완료
432 109960 완료
433 111710 완료
434 111710 완료
435 111870 완료
436 111870 완료
437 111870 완료
438 111870 완료
439 114450 완료
440 114450 완료
441 114450 완료
442 115440 완료
443 115440 완료
444 115440 완료
445 115480 완료
446 117670 완료
447 118990 완료
448 120240 완료
449 120240 완료
450 121800 완료
451 121800 완료
452 121850 완료
453 122640 완료
454 122870 완료
455 123410 완료
456 123420 완료
457 123420 완료
458 123840 완료
459 125210 완료
460 128540 완료
461 128540 완료
462 128540 완료
463 131760 완료
464 131760 완료
465 133750 완료
466 133750 완료
467 133750 완료
468 133750 완료
469 133750 완료
470 136480 완료
471 136480 완료
472 136480 완료
473 137400 완료
474 137950 완료
475 138610 완료
476 138610 완료
477 139050 완료
478 139050 완료
479 139050 완료
480 142280 완료
481 142280 완료
482 150840 완료
483 154030 완료
484 161580 완료
485 168330 완료
486 168330 완료
487 168330 완료
488 170030 완료
489 171010 완료
490 171010 완료
491 174880 완료
492 174880 완료
493 174880 완료
494 174880 완료
495 175250 완료
496 175250 완료
497 175250 완료
498 175250 완료
499 177350 완료
500 177350 완료
501 177350 완료
502 177830 완료
503 182360 완료
504 182360 완료
505 183490 완료
506 187420 완료
507 187420 완료
508 195440 완료
509 195990 완료
510 195990 완료
511 196450 완료
512 198440 완료
513 200230 완료
514 200230 완료
515 200230 완료
516 200780 완료
517 200780 완료
518 201490 완료
519 203650 완료
520 203650 완료
521 204020 완료
522 205500 완료
523 207760 완료
524 208140 완료
525 208140 완료
526 208140 완료
527 208350 완료
528 212560 완료
529 215090 완료
530 215100 완료
531 215380 완료
532 215380 완료
533 215380 완료
534 215480 완료
535 215480 완료
536 215480 완료
537 215600 완료
538 215600 완료
539 215600 완료
540 217330 완료
541 217480 완료
542 218150 완료
543 218150 완료
544 219550 완료
545 220260 완료
546 220260 완료
547 222420 완료
548 222810 완료
549 222810 완료
550 225430 완료
551 225430 완료
552 225530 완료
553 226340 완료
554 226360 완료
555 232140 완료
556 236200 완료
557 238090 완료
558 238200 완료
559 238200 완료
560 238490 완료
561 239340 완료
562 241840 완료
563 242040 완료
564 244460 완료
565 246690 완료
566 246710 완료
567 246720 완료
568 246960 완료
569 250000 완료
570 250000 완료
571 251970 완료
572 253450 완료
573 253840 완료
574 260660 완료
575 260660 완료
576 263540 완료
577 263540 완료
578 263700 완료
579 263800 완료
580 268600 완료
581 268600 완료
582 277070 완료
583 277410 완료
584 288620 완료
585 288620 완료
586 290380 완료
587 290550 완료
588 290740 완료
589 293780 완료
590 298380 완료
591 298380 완료
592 299660 완료
593 299660 완료

594 300080 완료
595 303030 완료
596 303030 완료
597 307160 완료
598 307180 완료
599 307930 완료
600 311390 완료
601 311390 완료
602 313760 완료
603 317850 완료
604 317850 완료
605 317850 완료
606 318000 완료
607 318000 완료
608 900100 완료
609 900100 완료
610 900100 완료
611 900270 완료
612 900280 완료
613 900290 완료
614 900310 완료
615 900310 완료
616 900340 완료
617 900340 완료
618 900340 완료
619 900340 완료

In [73]:
df_for = fin_result[['index','shcode','shname','target_day']]

In [74]:
result_for_draw = pd.DataFrame([],columns = ['index','shcode','interval_init', 'target_day','interval_end'])

for i,v in df_for['index'].items():
    shcode = df_for['shcode'].iloc[i].zfill(6)
    target_date = df_for['target_day'].iloc[i]
    target_day_list = pd.to_datetime(target_date, format = "%Y-%m-%d")
    #interval calculate before 4 weeks , after 2 weeks
    interval_init_timestamp = target_day_list - datetime.timedelta(weeks=25)
    interval_end_timestamp = target_day_list + datetime.timedelta(weeks=4)
    

    # make df using series(datetime to str)
    result = pd.DataFrame(dict(interval_init = [interval_init_timestamp.strftime("%Y%m%d")],
                               target_day = [target_day_list.strftime("%Y%m%d")],
                               interval_end = [interval_end_timestamp.strftime("%Y%m%d")]))
    
    result['index'] = v
    result['shcode'] = shcode
    
    result_for_draw = result_for_draw.append(result)

In [75]:
per_df = pd.DataFrame([],columns = ['date','index','shcode'])

for i in range(len(result_for_draw)):
    df = query.query_ohlcv(shcode = result_for_draw['shcode'].iloc[i],
                         fr=result_for_draw['interval_init'].iloc[i],
                         to=result_for_draw['interval_end'].iloc[i])
    
    #데이터전처리
    df = preprocesser.sma_long(df)
    df = preprocesser.obv(df)
    df = preprocesser.rsi(df)
    df = preprocesser.stochastic(df)
    df = preprocesser.marking_cross_sma(df)
    df = preprocesser.marking_cross_rsi(df)
    df = preprocesser.marking_cross_stochastic(df)
    
    #df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d")
    df['index'] = result_for_draw['index'].iloc[i]
    df['shcode'] = result_for_draw['shcode'].iloc[i]
    df['target_day'] = result_for_draw['target_day'].iloc[i]
    
    per_df = per_df.append(df[['date','index','shcode',
                               'close_ma5', 'close_ma10', 'close_ma20', 'close_ma60','close_ma120',
                               'obv',
                               'rsi14', 'rsi14_signal', 'slowk', 'slowd', 'ma_g_c', 'ma_d_c', 'rsi_g_c', 'rsi_d_c',
                               'stoc_g_c', 'stoc_d_c']])

In [76]:
final = pd.merge(rrr, per_df, how = 'left', on = ['date','index','shcode'])

In [77]:
final[['index' ,'shcode','shname', 'target_m', 'date', 'close_ratio', 'open_', 'low', 'high', 'close','volume' , 
       'range_position', 'squeezed',
       'month_ma5_score', 'high_month', 'for_net_buy_sum','com_net_buy_sum', 'per_net_buy_sum',
       'week_ma5_score','week_ma20_score',
       'week_golden_cross', 'week_dead_cross', 'week_up', 'week_down',
       'close_ma5', 'close_ma10', 'close_ma20', 'close_ma60','close_ma120',
       'obv',
       'rsi14', 'rsi14_signal', 'slowk', 'slowd', 'ma_g_c', 'ma_d_c', 'rsi_g_c', 'rsi_d_c',
       'stoc_g_c', 'stoc_d_c'
      ]].to_csv("bf_target_day_using_weekly_v2.csv",encoding = 'ms949')