In [1]:
import sqlite3
import time
import pandas as pd
import numpy as np
import query
import preprocesser
import datetime
import pandas.tseries.offsets as of  # for timeoffset

In [15]:
#1.종목명
shcode_list = query.query_shcode_list_today()

In [16]:
#2.target from csvs
df_bf = pd.read_csv("bf_target_day_using_weekly_v3.csv",encoding='CP949')
df_af = pd.read_csv("af_target_day_using_weekly_v3.csv",encoding='CP949')
del df_bf['Unnamed: 0']
del df_af['Unnamed: 0']

In [17]:
df2_bf = df_bf[['index', 'shcode','month_ma5_score', 'high_month', 
               'for_net_buy_sum', 'com_net_buy_sum','per_net_buy_sum', 
               'week_ma5_score', 'week_ma20_score',
               'week_golden_cross', 'week_dead_cross', 'week_up', 'week_down']].drop_duplicates()

In [18]:
df_bfaf = pd.merge(df_af, df2_bf, how = 'left', on = ['index', 'shcode'])

In [19]:
uplist = query.query_up_distinct()
tmlist = query.query_tm_distinct()

In [20]:
df_bfaf = pd.merge(df_bfaf, uplist[['shcode','upcode', 'upname', 'per']], how = 'left', on = ['shcode'])
df_bfaf = pd.merge(df_bfaf, tmlist[['shcode','tmcode', 'tmname']], how = 'left', on = ['shcode'])

In [21]:
df_bfaf.columns

Index(['index', 'shcode', 'shname', 'target_m', 'date', 'close_ratio', 'open_',
       'low', 'high', 'close', 'volume', 'volume_ratio', 'range_position',
       'spot_range', 'min_target', 'max_target', 'inrange', 'spot_range_inc',
       'squeezed', 'volume_default', 'deal_f', 'burn_ratio', 'rotate_ratio',
       'for_net_buy', 'com_net_buy', 'per_net_buy', 'close_ma5', 'close_ma10',
       'close_ma20', 'close_ma60', 'close_ma120', 'obv', 'rsi14',
       'rsi14_signal', 'slowk', 'slowd', 'ma_g_c', 'ma_d_c', 'rsi_g_c',
       'rsi_d_c', 'stoc_g_c', 'stoc_d_c', 'month_ma5_score', 'high_month',
       'for_net_buy_sum', 'com_net_buy_sum', 'per_net_buy_sum',
       'week_ma5_score', 'week_ma20_score', 'week_golden_cross',
       'week_dead_cross', 'week_up', 'week_down', 'upcode', 'upname', 'per',
       'tmcode', 'tmname'],
      dtype='object')

In [ ]:
'''
df_bfaf[['index', 'shcode', 'shname', 'target_m', 'date', 'close_ratio', 'open_',
        'low', 'high', 'close', 'min_target', 'max_target', 'range_position',
        'volume', 'volume_ratio', 'spot_range', 'inrange','volume_default', 'squeezed',
        'obv', 'upcode', 'upname', 'per', 'tmcode', 'tmname',
        'month_ma5_score', 'high_month','for_net_buy_sum', 'com_net_buy_sum', 'per_net_buy_sum',
        'week_ma5_score', 'week_ma20_score', 'week_golden_cross',
        'week_dead_cross', 'week_up', 'week_down', 'for_net_buy', 'com_net_buy', 'per_net_buy',
        'close_ma5', 'close_ma10','close_ma20', 'close_ma60', 'close_ma120']].to_excel("bfaf_target_day_using_weekly_v4.xlsx",encoding = 'ms949')
'''

In [24]:
df_bfaf = df_bfaf[['index', 'shcode', 'shname', 'target_m', 'date', 'close_ratio', 'open_',
                   
                    'low', 'high', 'close', 'min_target', 'max_target', 'range_position',
                    'volume', 'volume_ratio', 'spot_range', 'inrange','volume_default', 'squeezed',
                    'obv', 'upcode', 'upname', 'per', 'tmcode', 'tmname',
                    'month_ma5_score', 'high_month','for_net_buy_sum', 'com_net_buy_sum', 'per_net_buy_sum',
                    'week_ma5_score', 'week_ma20_score', 'week_golden_cross',
                    'week_dead_cross', 'week_up', 'week_down', 'for_net_buy', 'com_net_buy', 'per_net_buy',
                    'close_ma5', 'close_ma10','close_ma20', 'close_ma60', 'close_ma120']]

In [4]:
#uplist[uplist['shcode']=='000080']
#uplist[uplist['shcode']=='000080'].groupby(['shcode']).count()

In [3]:
#tmlist[tmlist['shcode']=='000080']
#tmlist[tmlist['shcode']=='000080'].groupby(['shcode']).count()

In [14]:
df_bfaf2 = df_bfaf[['index','shcode']].drop_duplicates()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-14-947c38a0b59d>", line 1, in <module>
    result2 = result[['index','shcode']].drop_duplicates()
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py", line 2934, in __getitem__
    raise_missing=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py", line 1354, in _convert_to_indexer
    return self._get_listlike_indexer(obj, axis, **kwargs)[1]
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py", line 1161, in _get_listlike_indexer
    raise_missing=raise_missing)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py", line 1252, in _validate_read_indexer
    raise KeyError("{} not in index".format(not_found))
KeyError: "['index'] not in index"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1490, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1448, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "C:\ProgramData\Anaconda3\lib\site-packages\pytest.py", line 8, in <module>
    from _pytest.config import cmdline
  File "C:\ProgramData\Anaconda3\lib\site-packages\_pytest\config\__init__.py", line 17, in <module>
    from pkg_resources import parse_version
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 78, in <module>
    from pkg_resources.extern import appdirs
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 656, in _load_unlocked
  File "<frozen importlib._bootstrap>", line 626, in _load_backward_compatible
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\extern\__init__.py", line 43, in load_module
    __import__(extant)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\_vendor\appdirs.py", line 560, in <module>
    import win32com.shell
  File "C:\ProgramData\Anaconda3\lib\site-packages\win32com\__init__.py", line 6, in <module>
    import pythoncom
  File "C:\ProgramData\Anaconda3\lib\site-packages\pythoncom.py", line 3, in <module>
    pywintypes.__import_pywin32_system_module__("pythoncom", globals())
  File "C:\ProgramData\Anaconda3\lib\site-packages\win32\lib\pywintypes.py", line 129, in __import_pywin32_system_module__
    assert sys.modules[modname] is not old_mod
AssertionError

KeyError: "['index'] not in index"

In [2]:
#1.종목명
shcode_list = query.query_shcode_list_today()

#2.target from csvs
df = pd.read_csv("high_ratio_0.05_volume_money_20000000000_v3.csv", dtype ={'shcode':str})

#3. target index 추출
fin_result = pd.DataFrame([],columns = ['target_day','shcode'])

for i,v in df['index'].items():
    shcode = df['shcode'].iloc[i].zfill(6)
    target_date = v.split(" ")
    target_day_list = pd.to_datetime(target_date, format = "%Y-%m-%d")
    interval_end_timestamp = target_day_list + datetime.timedelta(weeks=6)
    result = pd.DataFrame(dict(target_day = target_day_list.strftime("%Y%m%d"),
                              interval_end = interval_end_timestamp.strftime("%Y%m%d"))).reset_index()
    del result['index']
    result['shcode'] = shcode
    fin_result = fin_result.append(result)
    
#4. make target month
fin_result['target_m'] = fin_result['target_day'].str.slice(stop = 6)
fin_result = pd.merge(fin_result, shcode_list, how = 'inner', on = 'shcode')

#5. target day 확인
target_day_list = pd.to_datetime(fin_result['target_day'], format = "%Y-%m-%d")

#(1) for jupo
#interval calculate before 12 month 
init_jupo_timestamp = target_day_list + of.MonthEnd(n= -12)
end_jupo_timestamp = target_day_list
fin_result['init_jupo'] = init_jupo_timestamp.apply(lambda x: x.strftime("%Y%m%d"))
fin_result['end_jupo'] = end_jupo_timestamp.apply(lambda x: x.strftime("%Y%m%d"))


fin_result = fin_result[fin_result['target_m']>='201909'].reset_index()
del fin_result['index']
fin_result['index'] = fin_result.index

C:\ProgramData\Anaconda3\envs\py36_32\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [ ]:
pd.merge(df_bfaf2, uplist[['shcode','upcode', 'upname', 'per']], how = 'left', on = ['shcode'])

In [5]:
fin_result.head()

  interval_end  shcode target_day target_m  shname init_jupo  end_jupo  index
0     20191218  000230   20191106   201911   일동홀딩스  20181130  20191106      0
1     20191015  000400   20190903   201909  롯데손해보험  20180930  20190903      1
2     20191108  000885   20190927   201909     한화우  20180930  20190927      2
3     20191017  000890   20190905   201909    보해양조  20180930  20190905      3
4     20191217  001140   20191105   201911   카리스국보  20181130  20191105      4

In [25]:
fin_result.columns

Index(['interval_end', 'shcode', 'target_day', 'target_m', 'shname',
       'init_month', 'end_month', 'index'],
      dtype='object')

In [6]:
#for jupo_vol
a = query.query_jupo_vol(fin_result['shcode'].iloc[0], fr=fin_result['init_jupo'].iloc[0], to=fin_result['end_jupo'].iloc[0])
c = a.groupby(['shcode','date']).sum().cumsum()

In [8]:
c.tail()

                   close  samo_vol  sec_vol  ins_vol  tusin_vol  bank_vol  \
shcode date
000230 20191031  2779800      1530     1076     1517      21211         0
       20191101  2791050      1530      771     1517      21211         0
       20191104  2802300      1529      744     2222      21956         0
       20191105  2813700      1529      745     2222      21956         0
       20191106  2826050     -3958      735     1886      12706         0

                 jong_vol  fund_vol  etcom_vol  per_vol  for_reg_vol  \
shcode date
000230 20191031         1     10801     -64496    86654       -58053
       20191101         1     10801     -64496    87425       -58519
       20191104         1     10801     -64496    86933       -59449
       20191105         1     10801     -66146    90587       -61454
       20191106         1     10801    -144346   187090       -64741

                 for_noreg_vol  nat_no_vol  com_vol  for_vol  etc_vol
shcode date
000230 20191031           -241           0    36136   -58294   -64496
       20191101           -241           0    35831   -58760   -64496
       20191104           -241           0    37253   -59690   -64496
       20191105           -241           0    37254   -61695   -66146
       20191106           -174           0    22171   -64915  -144346

In [ ]:
#for 기타재무정보

In [5]:
fin_result['shcode'].iloc[0]

'000230'

In [3]:
b = query.query_finance(fin_result['shcode'].iloc[0])

In [4]:
b

,date,shcode,close,volume,volume_money,high_52,high_52_day,high_52,high_52_day,rotate_ratio,burn_ratio,per,total_vol,ev_ratio,vol_scale,market_value
0,20191202,000230,11100,15243,168,15200,20190507,10350,20190807,1.24,0.14,36.57,11003,40,00001,1205

In [ ]:
'최고가_52','최고가일_52','최저가_52','최저가일_52','소진율','회전율','PER'
'상장주식수_천','증거금율','수량단위',

In [ ]:
'high_52', 'high_52_day', 'high_52', 'high_52_day','rotate_ratio','burn_ratio', 'per', 'total_vol', 'ev_ratio', 'vol_scale', 'market_value'