In [12]:
import sqlite3
import time
import pandas as pd
import numpy as np
import query
import datetime

In [13]:
#1.종목명
shcode_list = query.query_shcode_list_today()

#2.target from csv
df = pd.read_csv("high_ratio_0.15_volume_money_30000000000_v2.csv", dtype ={'shcode':str})

#3. target index 추출
fin_result = pd.DataFrame([],columns = ['target_day','shcode'])

for i,v in df['index'].items():
    shcode = df['shcode'].iloc[i].zfill(6)
    target_date = v.split(" ")
    target_day_list = pd.to_datetime(target_date, format = "%Y-%m-%d")
    interval_end_timestamp = target_day_list + datetime.timedelta(weeks=4)
    result = pd.DataFrame(dict(target_day = target_day_list.strftime("%Y%m%d"),
                              interval_end = interval_end_timestamp.strftime("%Y%m%d"))).reset_index()
    del result['index']
    result['shcode'] = shcode
    fin_result = fin_result.append(result)
#4. make target month
fin_result['target_m'] = fin_result['target_day'].str.slice(stop = 6)
fin_result = pd.merge(fin_result, shcode_list, how = 'inner', on = 'shcode')

C:\ProgramData\Anaconda3\envs\py36_32\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [14]:
fin_result

    interval_end  shcode target_day target_m     shname
0       20190826  000140   20190729   201907   하이트진로홀딩스
1       20190612  000890   20190515   201905       보해양조
2       20190410  001140   20190313   201903      카리스국보
3       20191015  001340   20190917   201909       백광산업
4       20190605  001550   20190508   201905         조비
5       20190614  001550   20190517   201905         조비
6       20190516  001745   20190418   201904    SK네트웍스우
7       20190813  001820   20190716   201907      삼화콘덴서
8       20190822  002070   20190725   201907      남영비비안
9       20190823  002070   20190726   201907      남영비비안
10      20190709  002140   20190611   201906       고려산업
11      20190719  002140   20190621   201906       고려산업
12      20191003  002140   20190905   201909       고려산업
13      20190213  002150   20190116   201901    도화엔지니어링
14      20190523  002210   20190425   201904       동성제약
15      20190527  002210   20190429   201904       동성제약
16      20190506  002320   20190408   201904         한진
17      20191014  002360   20190916   201909    SH에너지화학
18      20190904  002450   20190807   201908       삼익악기
19      20190617  002700   20190520   201905       신일산업
20      20190424  002720   20190327   201903       국제약품
21      20190531  002780   20190503   201905       진흥기업
22      20190709  002780   20190611   201906       진흥기업
23      20190516  002995   20190418   201904      금호산업우
24      20190214  003010   20190117   201901         혜인
25      20190508  003495   20190410   201904      대한항공우
26      20190311  003560   20190211   201902        IHQ
27      20190419  003850   20190322   201903       보령제약
28      20190710  004060   20190612   201906     SG세계물산
29      20190611  004270   20190514   201905         남성
..           ...     ...        ...      ...        ...
428     20190430  250060   20190402   201904        모비스
429     20190711  250060   20190613   201906        모비스
430     20190917  250060   20190820   201908        모비스
431     20190712  256630   20190614   201906   포인트엔지니어링
432     20190815  256630   20190718   201907   포인트엔지니어링
433     20190918  256840   20190821   201908  엔에이치스팩11호
434     20190823  257370   20190726   201907     명성티엔에스
435     20190402  263690   20190305   201903        디알젬
436     20190917  264660   20190820   201908    씨앤지하이테크
437     20190424  269620   20190327   201903        시스웍
438     20190626  285490   20190529   201905        노바텍
439     20190701  285490   20190603   201906        노바텍
440     20190607  290120   20190510   201905      대유에이피
441     20190326  290270   20190226   201902       휴네시온
442     20190712  290270   20190614   201906       휴네시온
443     20190211  290380   20190114   201901         대유
444     20190204  299900   20190107   201901    위지윅스튜디오
445     20190524  303030   20190426   201904       지니틱스
446     20190819  303030   20190722   201907       지니틱스
447     20190808  308100   20190711   201907      까스텔바쟉
448     20191008  317850   20190910   201909         대모
449     20190513  900040   20190415   201904    차이나그레이트
450     20190206  900100   20190109   201901      뉴프라이드
451     20190404  900100   20190307   201903      뉴프라이드
452     20190322  900250   20190222   201902    크리스탈신소재
453     20190318  900260   20190218   201902        로스웰
454     20190326  900270   20190226   201902       헝셩그룹
455     20190325  900340   20190225   201902       윙입푸드
456     20190927  900340   20190830   201908       윙입푸드
457     20190930  900340   20190902   201909       윙입푸드

[458 rows x 5 columns]

In [ ]:
#1. 이평 정배열 확인한다.

#3.

In [54]:
#4. target month
#8월대상한정
#fin_result.groupby(['target_m']).count()
target_month = '201907'
target_fin_result = fin_result[fin_result['target_m'] == target_month]
target_fin_result = target_fin_result.reset_index()

In [57]:
target_fin_result

    index interval_end  shcode target_day target_m     shname
0       0     20190826  000140   20190729   201907   하이트진로홀딩스
1       7     20190813  001820   20190716   201907      삼화콘덴서
2       8     20190822  002070   20190725   201907      남영비비안
3       9     20190823  002070   20190726   201907      남영비비안
4      32     20190801  004830   20190704   201907         덕성
5      38     20190805  005360   20190708   201907        모나미
6      39     20190805  005390   20190708   201907       신성통상
7      44     20190820  006890   20190723   201907       태경화학
8      58     20190822  008730   20190725   201907       율촌화학
9      79     20190823  012610   20190726   201907       경인양행
10     98     20190730  020120   20190702   201907    키다리스튜디오
11    106     20190821  025560   20190724   201907       미래산업
12    123     20190815  081000   20190718   201907      일진다이아
13    129     20190731  093370   20190703   201907         후성
14    130     20190813  096760   20190716   201907      JW홀딩스
15    133     20190827  102280   20190730   201907        쌍방울
16    139     20190816  138490   20190719   201907    코오롱플라스틱
17    150     20190801  298690   20190704   201907       에어부산
18    152     20190729  005290   20190701   201907      동진쎄미켐
19    161     20190826  012700   20190729   201907       리드코프
20    162     20190815  013310   20190718   201907       아진산업
21    175     20190806  019540   20190709   201907       일지테크
22    177     20190731  023770   20190703   201907      플레이위드
23    184     20190812  024950   20190715   201907     삼천리자전거
24    191     20190827  030960   20190730   201907        양지사
25    197     20190729  033340   20190701   201907      좋은사람들
26    221     20190815  040910   20190718   201907       아이씨디
27    224     20190821  041920   20190724   201907       메디아나
28    260     20190807  052420   20190710   201907     오성첨단소재
29    265     20190801  052900   20190704   201907     KMH하이텍
30    276     20190801  057500   20190704   201907    SKC 솔믹스
31    280     20190730  058630   20190702   201907        엠게임
32    281     20190809  060240   20190712   201907      룽투코리아
33    282     20190805  060310   20190708   201907         3S
34    301     20190815  066430   20190718   201907       와이오엠
35    304     20190729  067630   20190701   201907  에이치엘비생명과학
36    314     20190807  078590   20190710   201907       두올산업
37    337     20190806  100660   20190709   201907     서암기계공업
38    358     20190729  131180   20190701   201907         딜리
39    361     20190821  136510   20190724   201907      쎄미시스코
40    365     20190731  147760   20190703   201907    마이크로프랜드
41    372     20190731  171010   20190703   201907     램테크놀러지
42    373     20190814  171090   20190717   201907      선익시스템
43    376     20190822  179290   20190725   201907       엠아이텍
44    378     20190808  179900   20190711   201907       유티아이
45    383     20190808  195990   20190711   201907       유지인트
46    393     20190801  207760   20190704   201907      미스터블루
47    398     20190827  214150   20190730   201907       클래시스
48    409     20190731  217500   20190703   201907         러셀
49    410     20190814  217600   20190717   201907         켐온
50    415     20190731  220260   20190703   201907       켐트로스
51    416     20190805  220260   20190708   201907       켐트로스
52    426     20190828  250000   20190731   201907       보라티알
53    432     20190815  256630   20190718   201907   포인트엔지니어링
54    434     20190823  257370   20190726   201907     명성티엔에스
55    446     20190819  303030   20190722   201907       지니틱스
56    447     20190808  308100   20190711   201907      까스텔바쟉

In [ ]:
'''
#1. 이평 정배열 확인한다.

# 대세 판단1 : 월봉 20이평이 증가 중 12개?
# 대세 판단2 : 월봉 5이평이 증가 중
# 대세 판단3 : 월봉 ma5 - ma20  크눈중

#대세 판단 비고 : 외인 비율 확인하기
# 월봉,주봉 이평정배열(이평 5가 20보다 위인 any) or 
# 눌림목 발생하고 ,  거래량 똥 망하고,
# range 사이의 어디구간 30%~50%(구분지어서볼것), 
'''
'''
#2. 시점기준 관련된 주체 확인하여 쿼리로 작성한다. 최근관련된정보 한해서 확인(7,8 등)

'''

In [ ]:
fin_result

In [ ]:
fin_result['target_day']

In [15]:
i = 0

In [51]:
df.head()

       date   open   high    low  close   volume
0  20190729   9310  12000   9260  12000  6291621
1  20190730  12350  14150  12000  12050  7616938
2  20190731  12150  12300  10450  10650  2326322
3  20190801  10650  11100   9820   9950  1521007
4  20190802  10400  10850   9970  10400  2206395

In [43]:
df = query.query_ohlcv(shcode = fin_result['shcode'].iloc[i], 
                      fr = fin_result['target_day'].iloc[i], 
                      to = fin_result['interval_end'].iloc[i])
open_trigger = df['open'].iloc[0]
close_trigger = df['close'].iloc[0]
#df['close']>=
ratio_list = pd.DataFrame(dict(close_ratio = [y/x-1 for x, y in zip(np.array(df)[:,4][:-1], np.array(df)[:,4][1:])],
                              date = np.array(df)[:,0][1:]))

In [52]:
# daily open <= open
open_touch_list = df['date'].iloc[1:][df['open'] <= open_trigger]
# daily close >= close
close_touch_list = df['date'].iloc[1:][df['close'] >= close_trigger]

In [53]:
close_touch_list

1    20190730
5    20190805
6    20190806
Name: date, dtype: object

In [36]:
pd.DataFrame([[y/x-1 for x, y in zip(np.array(df)[:,4][:-1], np.array(df)[:,4][1:])],[3 for i in range(19)]] )

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.004167,-0.116183,-0.065728,0.045226,0.173077,0.012295,-0.064777,-0.051948,-0.009132,0.009217,-0.03653,0.0,-0.042654,0.00495,-0.004926,0.019802,0.0,0.029126,-0.028302
1,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.00000,3.0,3.000000,3.00000,3.000000,3.000000,3.0,3.000000,3.000000

In [40]:
ratio_list = pd.DataFrame(dict(close_ratio = [y/x-1 for x, y in zip(np.array(df)[:,4][:-1], np.array(df)[:,4][1:])],
                              date = np.array(df)[:,0][1:]))

In [41]:
result

    close_ratio      date
0      0.004167  20190730
1     -0.116183  20190731
2     -0.065728  20190801
3      0.045226  20190802
4      0.173077  20190805
5      0.012295  20190806
6     -0.064777  20190807
7     -0.051948  20190808
8     -0.009132  20190809
9      0.009217  20190812
10    -0.036530  20190813
11     0.000000  20190814
12    -0.042654  20190816
13     0.004950  20190819
14    -0.004926  20190820
15     0.019802  20190821
16     0.000000  20190822
17     0.029126  20190823
18    -0.028302  20190826

In [30]:
12200/ 10400-1

0.17307692307692313

In [19]:
df

        date   open   high    low  close   volume
0   20190729   9310  12000   9260  12000  6291621
1   20190730  12350  14150  12000  12050  7616938
2   20190731  12150  12300  10450  10650  2326322
3   20190801  10650  11100   9820   9950  1521007
4   20190802  10400  10850   9970  10400  2206395
5   20190805  10900  12900  10450  12200  5418072
6   20190806  11600  13450  11500  12350  3341082
7   20190807  12850  12900  11250  11550  1821572
8   20190808  11300  11300  10450  10950  1110817
9   20190809  11100  11100  10650  10850   528349
10  20190812  10800  11050  10600  10950   446997
11  20190813  10950  10950  10450  10550   330275
12  20190814  10600  10950  10250  10550   518204
13  20190816  10450  10850  10000  10100   479539
14  20190819  10250  10250  10000  10150   182287
15  20190820  10100  10250  10000  10100   155769
16  20190821  10100  10400  10000  10300   286731
17  20190822  10400  10500  10150  10300   156236
18  20190823  10900  11850  10600  10600  3286611
19  20190826  10600  10900  10200  10300   513641

In [3]:
# array_df: numpy array date, open, high, low, close, volume
def fun_incresing_ratio_test(array_df, limit = 0.15):
    #1) 종가비율 limit 이상
    ratio_list = [y/x-1 for x, y in zip(array_df[:,4][:-1], array_df[:,4][1:])]
    ratio_test = np.array([i >= limit for i in ratio_list])
    ratio_test = np.insert(ratio_test, 0 , 0)
    return ratio_test

In [4]:
def fun_total_volume_test(array_df, min_total_volume = 30000000000):
    
    #2) 해당날 거래대금 300억 이상 거래대금 = 종가 * 거래량
    total_volume_list = array_df[:,4] * array_df[:,5]
    total_volume_test = [i >= min_total_volume  for i in total_volume_list]
    total_volume_test = np.array(total_volume_test[:])
    return total_volume_test

In [5]:
def fun_average_volume_test(array_df, ratio_test, total_volume_test):
    #3) 급등시점 전 평균 20일간 거래량의 1000%
    average_volume_list = ratio_test * total_volume_test
    average_volume_list_index = [ i for i,v in enumerate(average_volume_list) if v == True]
    
    average_volume_test = np.array([0 for i in range(len(average_volume_list))])
    
    for ind in average_volume_list_index:
        if ind < 20:
            average_vol =  array_df[:,5][:ind].sum() / ind
        else:
            average_vol =  array_df[:,5][ind-20:ind].sum() / 20
        if array_df[:,5][ind] >= average_vol * 10:
            average_volume_test[ind] = 1
            
    return average_volume_test

#최종

In [ ]:
result = pd.DataFrame([], columns= ['shcode',"index"])
high_ratio = 0.15
volume_money = 30000000000

for i, v in enumerate(shcode_list['shcode']):
    
    now = datetime.now()
    now_time = '%s-%s-%s_%s:%s:%s' % ( now.year, now.month, now.day, now.hour, now.minute, now.second)
    print('------------------- test 시작_%s : , %s , %s , %s -------------------  ' %(now_time, i, v, shcode_list['shname'].iloc[i]))
    
    daily_data = query.query_ohlcv(v, to ='20190927')
    array_daily = np.array(daily_data)
    
    ratio_test = fun_incresing_ratio_test(array_daily, limit = high_ratio)
    if any(ratio_test) != 1:
        print('X_1. ratio_test 없음 %s , %s , %s' %( i, v, shcode_list['shname'].iloc[i]))        
        continue
    print('O_1. ratio_test 통과 %s , %s , %s' %( i, v, shcode_list['shname'].iloc[i]))  
    
    total_volume_test = fun_total_volume_test(array_daily, min_total_volume = volume_money)
    if any(total_volume_test) != 1:
        print('X_2. total_volume_test 없음 %s , %s , %s' %( i, v, shcode_list['shname'].iloc[i]))         
        continue
    print('O_2. total_volume_test 통과 %s , %s , %s' %( i, v, shcode_list['shname'].iloc[i])) 
    
    average_volume_test = fun_average_volume_test(array_daily, ratio_test, total_volume_test)
    if any(average_volume_test) != 1:
        print('X_3. average_volume_test 없음 %s , %s , %s' %( i, v, shcode_list['shname'].iloc[i]))            
        continue
    print('O_3. average_volume_test 통과 %s , %s , %s' %( i, v, shcode_list['shname'].iloc[i]))     
    
    result_test = ratio_test * total_volume_test * average_volume_test
    final_index = array_daily[:,0][result_test==1]
    final_value = " ".join(str(x) for x in final_index)
    #final_index = np.where(result_test==1)
    #final_value = " ".join(str(x) for x in final_index[0])
    
    test_result = pd.DataFrame([[v,final_value]], columns= ['shcode',"index"])
    result = result.append(test_result, ignore_index = True)

    print('------------------- test 완료 : , %s , %s , %s ------------------- ' %(i, v, shcode_list['shname'].iloc[i]))

filename = 'high_ratio'+'_'+str(high_ratio)+'_' + 'volume_money'+'_'+str(volume_money)+ '_v2' +'.csv'
result.to_csv(filename, sep=',')